Repository mr-kelly/kellyapps: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, organize-imports

biome-format:
  run: pnpm biome check --write --unsafe {staged_files}

organize-imports:
  run: pnpm biome check --write {staged_files}

chore: add lefthook configuration and VSCode settings for improved development workflow
  .vscode/settings.json
  package.json
Due: biome-format

feat: add QuickActionsBar, TaskCard, and TaskDetailPanel components
  .vscode/settings.json
  apps/fei/app/(components)/EmptyState.tsx
  apps/fei/app/(components)/NewTaskDialog.tsx
  apps/fei/app/(components)/QuickActionsBar.tsx
  apps/fei/app/(components)/TaskCard.tsx
  apps/fei/app/(components)/TaskDetailPanel.tsx
  apps/fei/app/ThemeProvider.tsx
  apps/fei/app/layout.tsx
  apps/fei/app/page.tsx
  apps/fei/package.json
  apps/fei/tsconfig.json
  apps/web/.env.local
  apps/web/app/(components)/EmptyState.tsx
  apps/web/app/(components)/NewTaskDialog.tsx
  apps/web/app/(components)/QuickActionsBar.tsx
  apps/web/app/(components)/TaskCard.tsx
  apps/web/app/(components)/TaskDetailPanel.tsx
  apps/web/app/ThemeProvider.tsx
  apps/web/app/api/users/route.ts
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/lib/db.ts
  apps/web/lib/tasks.ts
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/postcss.config.js
  apps/web/prisma/migrations/20250904141914_init/migration.sql
  apps/web/prisma/migrations/migration_lock.toml
  apps/web/prisma/schema.prisma
  apps/web/prisma/seed.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
Due: biome-format, organize-imports

chore: standardize code formatting across multiple files
  .vscode/settings.json
  apps/web/app/api/users/route.ts
  apps/web/lib/db.ts
  apps/web/lib/tasks.ts
  apps/web/next.config.js
  apps/web/postcss.config.js
  apps/web/prisma/seed.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
Due: biome-format, organize-imports

chore: format configuration files and update CSS variables for improved styling
  .eslintrc.cjs
  apps/web/app/globals.css
  apps/web/next.config.mjs
  apps/web/postcss.config.cjs
  biome.json
  package.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  tsconfig.base.json
Due: biome-format, organize-imports

fix: add ".expo" to ignored files in biome configuration
  biome.json
Due: biome-format

Implement code changes to enhance functionality and improve performance
  apps/mobile/package.json
  pnpm-lock.yaml
Due: biome-format

fix: add lint target to Makefile and update ignored files in biome configuration
  Makefile
  biome.json
Due: biome-format

feat: update package names to include scope and add domains package with initial setup
  apps/mobile/package.json
  apps/web/package.json
  packages/domains/package.json
  packages/domains/src/index.ts
  packages/domains/tsconfig.json
Due: biome-format, organize-imports

feat: update mobile and web apps to use tRPC for API communication
  Makefile
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/package.json
  apps/mobile/trpcClient.tsx
  apps/mobile/tsconfig.json
  apps/web/.env.local
  apps/web/app/api/trpc/[trpc]/route.ts
  apps/web/app/api/users/route.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/lib/db.ts
  apps/web/package.json
  apps/web/tsconfig.json
  packages/domains/package.json
  packages/domains/prisma/index.ts
  packages/domains/prisma/migrations/20250905180629_init/migration.sql
  packages/domains/prisma/migrations/migration_lock.toml
  packages/domains/prisma/schema.prisma
  packages/domains/prisma/seed.ts
  packages/domains/src/index.ts
  packages/domains/trpc.ts
  packages/domains/trpcClient.tsx
  packages/domains/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome-format, organize-imports

style: format tsconfig files for consistent indentation
  apps/mobile/tsconfig.json
  apps/web/tsconfig.json
  packages/domains/tsconfig.json
  tsconfig.base.json
Due: biome-format

refactor: update trpcClient import paths and enhance TRPCProvider with baseUrl support
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/trpcClient.tsx
  packages/domains/trpcClient.tsx
Due: biome-format, organize-imports

refactor: replace trpc export with useTRPC hook for improved API consumption
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/trpcClient.tsx
  packages/domains/trpcClient.tsx
Due: biome-format, organize-imports

refactor: update import for useTRPC from domains package for consistency
  Makefile
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/tasks.tsx
  apps/mobile/app/task/[id].tsx
  apps/web/app/(components)/NewTaskDialog.tsx
  apps/web/app/(components)/TaskCard.tsx
  apps/web/app/(components)/TaskDetailPanel.tsx
  apps/web/app/page.tsx
  apps/web/lib/tasks.ts
  package.json
  packages/domains/hooks/useTasks.ts
  packages/domains/package.json
  packages/domains/prisma/README_ENUM_MIGRATION.md
  packages/domains/prisma/migrations/20250905183317_add_task_model/migration.sql
  packages/domains/prisma/migrations/20250905185347_task_enums/migration.sql
  packages/domains/prisma/schema.prisma
  packages/domains/prisma/seed.ts
  packages/domains/trpc.ts
  packages/domains/trpc/index.ts
  packages/domains/trpc/routers/tasks.ts
  packages/domains/trpc/trpcContext.ts
  packages/domains/types/task.ts
  pnpm-lock.yaml
Due: biome-format, organize-imports

feat: add project overview and guidelines to documentation; implement new screens and layouts for web and mobile apps
  .github/copilot-instructions.md
  apps/web/next.config.js
Due: biome-format, organize-imports

chore: aa
  .github/copilot-instructions.md
  package.json
Due: biome-format

refactor: update useQuery calls to utilize the correct TRPC utility for consistency
  apps/mobile/app/(tabs)/index.tsx
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
  packages/domains/tsconfig.json
Due: biome-format, organize-imports

style: format tsconfig.json for consistent indentation
  packages/domains/tsconfig.json
Due: biome-format

refactor: update component exports to named exports for consistency
  apps/web/app/(components)/EmptyState.tsx
  apps/web/app/(components)/NewTaskDialog.tsx
  apps/web/app/(components)/QuickActionsBar.tsx
  apps/web/app/(components)/TaskCard.tsx
  apps/web/app/(components)/TaskDetailPanel.tsx
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
Due: biome-format, organize-imports

feat: add new components for task management and UI enhancements
  apps/web/.env.local
  apps/web/app/(components)/TaskDetailPanel.tsx
  apps/web/app/ThemeProvider.tsx
  apps/web/app/api/trpc/[trpc]/route.ts
  apps/web/app/api/users/route.ts
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/lib/tasks.ts
  apps/web/next.config.js
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/postcss.config.cjs
  apps/web/tsconfig.json
  packages/domains/package.json
  pnpm-lock.yaml
Due: biome-format, organize-imports

feat: add CI workflow for automated testing and building of web and mobile components
  .github/workflows/ci.yml
  Makefile
Due: none

fix: remove unnecessary whitespace in branch specification for pull requests
  .github/workflows/ci.yml
Due: none

style: format globals.css and tsconfig.json for consistent indentation
  apps/web/app/globals.css
  apps/web/tsconfig.json
Due: biome-format

chore:aaa
  apps/mobile/.gitignore
  apps/mobile/.vscode/settings.json
  apps/mobile/README.md
  apps/mobile/app.json
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/explore.tsx
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/+not-found.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/assets/fonts/SpaceMono-Regular.ttf
  apps/mobile/assets/images/adaptive-icon.png
  apps/mobile/assets/images/favicon.png
  apps/mobile/assets/images/icon.png
  apps/mobile/assets/images/partial-react-logo.png
  apps/mobile/assets/images/react-logo.png
  apps/mobile/assets/images/react-logo@2x.png
  apps/mobile/assets/images/react-logo@3x.png
  apps/mobile/assets/images/splash-icon.png
  apps/mobile/components/Collapsible.tsx
  apps/mobile/components/ExternalLink.tsx
  apps/mobile/components/HapticTab.tsx
  apps/mobile/components/HelloWave.tsx
  apps/mobile/components/ParallaxScrollView.tsx
  apps/mobile/components/ThemedText.tsx
  apps/mobile/components/ThemedView.tsx
  apps/mobile/components/ui/IconSymbol.ios.tsx
  apps/mobile/components/ui/IconSymbol.tsx
  apps/mobile/components/ui/TabBarBackground.ios.tsx
  apps/mobile/components/ui/TabBarBackground.tsx
  apps/mobile/constants/Colors.ts
  apps/mobile/eslint.config.js
  apps/mobile/hooks/useColorScheme.ts
  apps/mobile/hooks/useColorScheme.web.ts
  apps/mobile/hooks/useThemeColor.ts
  apps/mobile/package.json
  apps/mobile/scripts/reset-project.js
  apps/mobile/tsconfig.json
Due: biome-format, organize-imports

feat: initialize Expo mobile app with basic structure and components
  apps/mobile/package.json
  pnpm-lock.yaml
Due: biome-format

fix: reorder dependencies and update react-native-reanimated version in package.json and pnpm-lock.yaml
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: biome-format

Path conditions:
  biome-format: any of: *.{ts,tsx,js,jsx,json}
  organize-imports: any of: *.{ts,tsx,js,jsx}
